{% extends 'auctions/layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Categories</h2>
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    {% for category  in categories %}
                    <li class="list-group-item"><a href="{% url 'category' category.id %}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock body %}