{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Active Listings <span class="badge badge-secondary">{{ listings|length }}</span></h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
            {% for listing in listings %}
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="{{ listing.image|default:'https://dummyimage.com/200x200/404040/ffffff.jpg&text=No+Image' }}" class="img-fluid rounded float-left mr-4" style="width: 200px; height: 200px;" alt="Teste">
                        <h5 class="card-title">
                            <a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Created: {{ listing.date_created }}</h6>
                        <span class="badge badge-info">{{ listing.category }}</span>
                        {% if listing in user.watchlist.all %}<span class="badge badge-info" title="In Watchlist"><i class="fa-solid fa-eye"></i></span>{% endif %}
                        <p class="card-text">{{ listing.description }}</p>
                    </div>
                </div>
            {% empty %}
                Sorry, no listing.
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}