{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Listing: {{ listing.title }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">Created: {{ listing.date_created }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Listed by: {{ listing.user }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Category: <span class="badge badge-info">{{ listing.category }}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-start">
                <img src="{{ listing.image|default:'https://dummyimage.com/200x200/404040/ffffff.jpg&text=No+Image' }}" style="width: 200px; height: 200px;" class="rounded" alt="Teste">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="mt-2 mb-2">{{ listing.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Current price: ${{ best_bid.value|default:listing.starting_price|floatformat:2 }}</h4>{% if best_bid.user == user %}<small>Your bid is the current bid.</small>{% endif %}
            </div>
        </div>
        {% if listing.is_active %}
        <div class="row">
            <div class="col-4">
                <form action="{% url 'listing_detail' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" class="form-control{% if bid_error %} is-invalid{% endif %}" name="bid" id="id_bid" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Place bid</button>
                            </div>
                            {% if bid_error %}<div class="invalid-feedback">{{ bid_error }}</div>{% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col">
                {% if best_bid.user == user %}
                <div class="alert alert-success text-center" role="alert">
                    <h3><span><i class="fa-solid fa-trophy"></i></span> Congratulations! You won this auction! <span><i class="fa-solid fa-trophy"></i></span></h3>
                </div>
                {% else %}
                <div class="alert alert-info text-center" role="alert">
                    <h3>This auction is closed.</h3>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="row">
            {% if listing.user == user and listing.is_active %}
            <div class="col-3">
                <a href="{% url 'close_listing' listing.id %}" class="btn btn-success">Close this auction</a>
            </div>
            {% endif %}
            <div class="col-3">
                {% if listing in user.watchlist.all %}
                <a href="{% url 'watchlist_remove' listing.id %}" class="btn btn-danger">Remove from watchlist</a>
                {% else %}
                <a href="{% url 'watchlist_add' listing.id %}" class="btn btn-primary">Add to watchlist</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-6">
                <h4><span><i class="fa-solid fa-comment"></i></span> Comments</i></h4>
                <hr>
                {% for comment in listing.comment_set.all %}
                <div class="card mb-2">
                    <div class="card-header text-right text-muted">{{ comment.user }} | {{ comment.date }}</div>
                    <div class="card-body">
                        {{ comment.comment }}
                    </div>
                </div>
                {% empty %}
                <h5 class="text-center">No comments.</h5>
                {% endfor %}
                <hr>
                {% if user.is_authenticated %}
                <form action="{% url 'add_comment' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="comment" id="commet_id" cols="30" rows="5" class="form-control" required>{{ comment_form.comment.value }}</textarea>
                    </div>
                    <input type="submit" value="Add comment" class="btn btn-primary">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}